.idea
/idea
/.idea

# Node.js
node_modules/
npm-debug.log
.env

# PHP
vendor/
composer.lock

# Docker
*.log
tmp/

# macOS
.DS_Store

# Windows
Thumbs.db

# Allgemein
log/
logs/
.vscode/

# Sonstiges
*.swp
*.swo
