services:
  db:
    image: mariadb:11.1.2
    volumes:
      - db_volume:/var/lib/mysql
      - ./container/db/shared:/custom
    ports:
      - 3306:3306
    environment:
      MYSQL_DATABASE: "dev"
      MYSQL_USER: "dev"
      MYSQL_PASSWORD: "dev"
      MYSQL_ROOT_PASSWORD: "root"
    restart: on-failure
  php:
    image: registry.mceikens-infra.de/external/php-dev-fpm-84:v1.7
    volumes:
      - ./container/php/conf.d/php-custom.ini:/usr/local/etc/php/conf.d/php-custom.ini
      - ./container/php/conf.d/xdebug-custom.ini:/usr/local/etc/php/conf.d/xdebug-custom.ini
      - .:/usr/share/nginx/html/app:rw,cached
    depends_on:
      - db
    environment:
      - PUID=1000
      - PGID=1001
  nginx:
    image: nginx:1.25.2-alpine
    volumes:
      - ./container/nginx/conf.d/default.conf:/etc/nginx/conf.d/default.conf
      - .:/usr/share/nginx/html/app:rw,cached
    ports:
      - 80:80
    depends_on:
      - php
volumes:
  db_volume:
    driver: local
  redis_data:
    driver: local
